<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.entregapp.entregapp"
    version     = "1.0.4" >
	<name>Entregapp Atendimento</name>
        <description>
           Sistema de atendimento de mesas para restaurantes.
        </description>
        <author email="eduardonaleves@gmail.com" href="http://entregapp.com.br">
            Eduardo Alves
        </author>
         <feature name="debug-server" required="false">
            <param name="domain" value="http://localhost/apps/master/"/>
            <param name="key" value="com.entregapp.entregapp"/>
          </feature>
          <preference name="phonegap-version" value="cli-5.2.0" />

          <gap:plugin name="github.com/hypery2k/cordova-sqlite-plugin" source="npm" version="1.0.3" />

        <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
        <preference name="Fullscreen" value="false" />
        <preference name="WebViewBounce" value="true" />
        <feature name="http://api.phonegap.com/1.0/geolocation"/>
        <icon src="icon.png" />
        <gap:splash src="splash.png" />
</widget>
